@tailwind components;

@layer components {
  .dialog_container {
    animation: fade 0.2s linear;
  }

  .dialog_card {
    animation: slider 0.3s ease-in-out;
  }

  .form_input {
    @apply mt-2;

    label {
      @apply block text-sm mb-1 select-none;
    }

    input {
      @apply w-full outline-none rounded-md px-3 py-1.5 bg-main-100 dark:bg-main-700 shadow-inner text-main-900 dark:text-main-100;
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slider {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
