@import "./tailwind.scss";

html {
  transition: background-color 0.3s ease-in-out;
  background-color: #f7f7f7;
  &.dark {
    background-color: #1e1e1e;
  }
}

body {
  font-family: "poppins";
}

button {
  transition: opacity 0.2s ease-in-out;
  &:hover {
    opacity: 0.8;
  }
}

:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
