@tailwind components;

@layer components {
  .silder {
    transition: background-color, opacity, right, 0.3s ease-in-out;
    width: 370px;
    @apply pr-1 p-2 mt-16 fixed right-0 top-0 bottom-10 overflow-y-scroll flex flex-col items-center rounded-lg z-10;

    &::-webkit-scrollbar {
      @apply bg-none w-1;
    }
    &::-webkit-scrollbar-thumb {
      @apply bg-main-400 dark:bg-main-600 rounded-xl;
    }
    &:has(.react-draggable-dragging) {
      background-color: rgba(153, 153, 153, 0.082);
      backdrop-filter: blur(3px);
      transform: translate();
    }
    .dark {
      &:has(.react-draggable-dragging) {
        background-color: rgba(107, 107, 107, 0.082);
      }
    }

    &._hide {
      right: -200px;
      opacity: 0;
    }

    &._show {
      right: 0px;
      opacity: 1;
    }

    .silder-item {
      border: 1px solid;
      @apply w-full shadow-lg border-main-300 bg-main-200  dark:border-main-700 dark:bg-neutral-900 rounded-lg pointer-events-auto;

      .header {
        font-size: 14px;
        @apply dark:text-main-400 font-semibold flex justify-between items-center p-3 select-none cursor-move;
        .draw-btn {
          border: 1px solid;
          @apply border-main-400 dark:border-main-500 rounded-md;
        }
      }
      .content {
        @apply bg-main-100 dark:text-main-200 dark:bg-main-800 ease-in-out duration-300 transition-all overflow-hidden rounded-b-md;
      }
    }

    .react-draggable {
      transition: box-shadow, width;
      @apply w-full duration-200 my-2 rounded-lg;
    }
    .react-draggable-dragging {
      z-index: 999;
      box-shadow: 0 10px 13px -6px rgba(0, 0, 0, 0.2), 0 21px 33px 3px rgba(0, 0, 0, 0.14),
        0 8px 40px 7px rgba(0, 0, 0, 0.12) !important;
      width: 97%;
    }
  }
}
